<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- 
    div - division
     
    -->

    <div id="wrapper">
        <header>
            <nav class="nav-bar">
        <ul>
            <li><a href="/">Link1</a></li>
            <li><a href="/">Link2</a></li>
            <li><a href="/">Link3</a></li>
            <li><a href="/">Link4</a></li>
            <li><a href="/">Link5</a></li>
        </ul>
    </nav>
        </header>
        <div id="carrosel"></div>
        <div class="content">
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
            <div class="products"></div>
        </div>
        <footer></footer>
    </div>

</body>

</html>