*{
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    height: 3000px;
    background: #544554;
}

header{
    width: 100%;
    height: 150px;
    background: #c1c1c1;
}

#carrosel {
    width: 100%;
    height: 250px;
    background: #d9d939;
}

main {
    width: 100%;
    height: 2000px;
    background:rgb(231, 131, 0);
}